.logo {

    @include flex(center, center, row);
    z-index: 10;
    .logo__image {
        width: 50%;

        @include small_device-up {
            width: 200px;
        }
    }

}

.hexagon-container__link {
    $s: 105px;
    $m: 6px;
    width: $s;
    margin: $m;
    border-radius: 15px;
    height: calc(#{$s} * 1.1547);
    @include flex(center, center, column);
    transform: rotate(90deg);
    font-size: initial;
    position: relative;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    background: {
        image: url('https://firebasestorage.googleapis.com/v0/b/di-medical-del-sur.appspot.com/o/hexagon%20.webp?alt=media&token=d6b3c02c-cd89-4028-aba7-0c281c6c32ba');
        position: center;
        size: 200%;

    }


    .hexagon-container__link__page {
        transform: rotate(-90deg);
        font-size: 40px;
        cursor: pointer;
    }

}

.search__bar {
    width: 100%;
    @include flex(center, space-evenly, row);
    $height: 45px;
    $font-size: 12px;
    &__input {
        height: $height;
        outline: none;
        width: 60%;
        border: none;
        border-bottom: 1px solid #000;
        font-size: $font-size;
        padding: 5px;
    }


    &__button {
        width: 25%;
        height: $height;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: $font-size;
        transition: .2s;
        color: #ffff;
    
        .icon {
            color: #fff;
        }
    }

    @include small_device-up {
        @include flex(center, center, row);

        &__button {
            margin-left: 20px;
            font-size: $font-size + 5 ;
        }

        &__input {
            font-size: $font-size + 3 ;
        }
    }

    @include medium_device-up {
        &__button {
            width: 100px;
            font-size: $font-size + 2;
        }

        &__input {
            width: 600px;
        }
    }
}

.copy {
    p {
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}
