.card-contact {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .card-contact__sucursal__provider {
        width: 100%;
        height: 100%;
        position: relative;

        background: {
            position: top;
            size: cover;
        }

        @include flex(center, space-between, column);

        .card-contact__logo {
            width: 100%;
        }

        .card-contact__info {
            width: 100%;
            @include flex(center, space-between, column);

            .card-contact__name {
                text-align: center;
                @include flex(center, space-between, column);

                .card-contact__name__employee {
                    font-size: 32px;
                }

                .card-contact__name__job {
                    font-size: 28px;
                }

                .card-contact__name__button {
                    width: 135px;
                    height: 30px;
                    border-radius: 3px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    .icon {
                        color: #fff;
                    }

                    @include flex(center, space-evenly, row);
                }

            }
        }

        .card-contact__links {
            width: 100%;
            @include flex(center, space-around, row);
            margin-top: 20px;

            .card-contact__links--left {
                width: 45%;
                height: 100%;
                @include flex(flex-end, space-between, column);

                .hexagon-container:nth-child(2n) {
                    align-self: flex-start;
                }
            }

            .card-contact__links--right {
                width: 45%;
                height: 100%;
                @include flex(flex-start, space-between, column);

                .hexagon-container:nth-child(2n) {
                    align-self: flex-end;
                }
            }
        }

        .card-contact__share {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10000000;

            .sharer {
                .sharer__button {
                    outline: none;
                    border: none;
                    cursor: pointer;
                    width: 110px;
                    height: 30px;
                    font-size: 12px;
                    border-radius: 5px;
                    color: #fff;
                    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

                    @include flex(center, space-around, row);

                    .icon {
                        color: #fff;
                    }
                }

                .sharer__options {
                    width: 100%;
                    height: 100%;
                    @include flex(center, space-around, row);

                    a {
                        color: inherit;
                    }

                    .icon {
                        cursor: pointer;
                        color: inherit;
                        font-size: 25px;
                    }
                }
            }
        }

        .card-contact__products {
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 10000;
            &__button {
                z-index: 10000;
                outline: none;
                border: none;
                cursor: pointer;
                width: 110px;
                height: 30px;
                font-size: 12px;
                border-radius: 5px;
                color: #fff;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

                @include flex(center, space-around, row);

                .icon {
                    color: #fff;
                }
            }
        }

        .card-contact__stories {
            .stories__button {
                position: absolute;
                top: 50px;
                right: 10px;
                @include buttonContact;
            }

            .stories__modal {
                width: 100vw;
                height: 100vh;
                transition: .3s;
                background-color: rgba($color: #000, $alpha: 0.7);
                z-index: 10000000;
                position: fixed;
                left: 0;
                top: 0;
                right: 0;
                margin: auto;
                @include flex(center, center, row);
            
                .stories__modal__close {
                    z-index: 10000000000000000;
                    width: 55px;
                    height: 55px;
                    position: absolute;
                    top: 10px;
                    right: 30px;
                    background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.5);
                    color: #fff;
                    border-top-right-radius: 10px;
                    @include flex(center, center, row);
                    cursor: pointer;
                    transition: .2s;
                    z-index: 20;
                    .icon {
                       color: #fff; 
                    }
            
                    &:hover {
                        background-color: rgba($color: $bg-dm-corporativo-light, $alpha: 0.8);
                    }
                }
            
                .modal__image {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    @include flex(center, space-around, row);
                    @include small_device-up {
                        width: 300px;
                        height: 90%;
                    }
                    .modal__image__next {
                        width: 49%;
                        height: 90%;
                        position: absolute;
                        z-index: 100000000;
                        align-self: flex-end;

                        @include small_device-up {
                            @include flex(center, center, row);
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: #fff;
                            cursor: pointer;
                            align-self: center;
                        }
            
                    }
            
                    .left {
                        left: 10px;
                        @include medium_device-up {
                            left: -220px;
                        }

                    }
            
                    .right {
                        right: 10px;
                        @include medium_device-up {
                            right: -220px;
                        }
                        
                    }
            
                    .story__image {
                        width: 95%;
                        height: 95%;
                        object-fit:contain;
                        border-radius: 10px;
                        transition: .2s;
                        @include medium_device-up {
                            object-fit:fill;
                            width: 600px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }

    @include medium_device-up {
        width: 800px;
        height: 100%;
    }
}

.card-about {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    z-index: 5;
    position: relative;

    background: {
        image: url('https://firebasestorage.googleapis.com/v0/b/di-medical-del-sur.appspot.com/o/mainBg.webp?alt=media&token=072feb70-824e-468a-8594-89b5ee617997');
        position: center;
        size: cover;
    }

    .card-about__image {
        width: 100%;

        .card-about__image__button {
            $s: 70px;
            $m: 6px;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
            width: $s;
            margin: $m;
            border-radius: 15px;
            height: calc(#{$s} * 1.1547);
            @include flex(center, center, column);
            transform: rotate(90deg);
            font-size: initial;
            position: relative;
            clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
            background-color: $sur_bg--ligth;

            .icon {
                color: #fff;
                font-size: 20px;
                transform: rotate(-90deg);
            }
        }

        .card-about__image__outline {
            width: 280px;
            height: 280px;
            margin-right: -120px;
            border-radius: 50%;

            background: {
                size: cover;
                position: center;
            }

            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
            @include flex(center, center, column);

            .card-about__image__employee {
                width: 95%;
                height: 95%;
                border-radius: 50%;
                image-rendering: optimizeSpeed;
            }
        }

        @include flex(center, space-around, row);

    }

    .card-about__info {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;

        .card-about__info__paragraph {
            width: 90%;
            min-height: 70px;
            margin-top: 15px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            background: {
                size: cover;
                position: 20% 60%;
            }

            .card-about__info__paragraph__text {
                width: 90%;
                height: 100%;
                margin-top: 7px;
                color: #fff;
                text-align: center;
                font-size: 15px;
                line-height: 17px;
                @include flex(center, center, row);
            }

            @include flex(center, center, column);

            @include medium_device-up {
                width: 500px;
                margin-top: 30px;

            }
        }

        @include flex(center, space-around, column);
    }

    @include flex(center, space-between, column);

    @include medium_device-up {
        width: 820px;
        height: 100vh;
    }
}

.card-qr {
    width: 100%;
    height: 100vh;
    background: #fff;
    @include flex(center, space-around, column);

    &__image {
        @include flex(center, space-evenly, column);

        .img-qr {
            width: 100%;
            height: 100%;
            @include flex(center, space-evenly, column);
            @include medium_device-up {
                width: 350px;
                height: 350px;
            }
        }

        @mixin buttonQR {
            width: 100%;
            height: 35px;
            outline: none;
            border-radius: 5px;
            border: none;
            margin-top: 20px;
            color: #fff;
        }
    }

    &__download {
        width: 200px;
        height: 35px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        border:none;
        color: #fff;
    }

    #qrImageBase64 {
        @include flex(center, space-evenly, column);
        width: 95%;
        height: 95%;

        div {
            width: 100%;
            height:100%;
        }
    }
}

.card-products {
    width: 100%;
    height: 100%;
    background-color: #fff;
    @include flex(center, flex-start, column);

    .products {
        &__header {
            width: 100%;
            height: 120px;
            background-color: #e9ecef;
            @include flex(center, space-between, row);
            
            &--back {
                height: 100%;
                @include flex(center, left, row);
                &__button {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;

                    @include medium_device-up {
                        width: 53px;
                        height: 53px;

                    }
                }
                margin-left: 25px;
                @include medium_device-up {
                    margin-left: 15px;
                }
            }

            &--actions {
                @include flex(center, space-evenly, row);
                width: 100%;
                $radius-actions: 3px;
                $with-actions: 120px;
                $height-actions: 45px;

                &__action {
                    width: $with-actions;
                    @include flex(center, space-evenly, row);
                    border-radius: $radius-actions;
                    height: $height-actions;
                    color: #fff;
                    text-decoration: none;
                    font-size: 13px;
                    border: none;
                }

                @include medium_device-up {
                    width: 70%;

                    &__action {
                        width: 136px;
                        font-size: 15px;
                    }
                }
            }
        }

        &__list {
            @include flex(center, space-around, row);
            flex-wrap: wrap;
            margin-bottom: 10px;
            margin-top: 25px;
            .list-enter-active,
            .list-leave-active {
                transition: all 0.5s ease;
            }

            .list-enter-from,
            .list-leave-to {
                opacity: 0;
                transform: translateX(30px);
            }

        }

        &__product {
            max-width: 20rem;
            height: 410px;
            padding: 0;
            border: 1px solid rgba(0, 0, 0, .125);
            margin-top: 20px;
            border-radius: 5px;
            @include flex(left, space-evenly,  column);
            

            @include medium_device-up {
                margin-left: 20px;
            }

            &--photo {
                width: 100%;
                height: 200px;

                &__image {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px
                }
            }

            &--name {
                text-align: left;
                margin-left: 10px;
                margin-right: 10px;
                margin-top: 10px;
            }

            &--brand {
                margin-left: 10px;
                color: #6c757d;
                font-size: 14px;
            }

            &--description {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 16.5px;
            }

            &--cta {
                @include flex(center, space-evenly, row);
                margin-bottom: 10px;
                a {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    width: 50%;
                    height: 35px;
                    color: #fff;
                    @include flex(center, space-evenly, row);
                    text-decoration: none;
                }

                p {
                    @include flex(center, space-around, row);
                    margin-top: 10px;
                    margin-right: 10px;
                }
            }

        }

        &__load {
            &__button {
                color: #fff;
                outline: none;
                border: none;
                width: 20rem;
                height: 40px;
                border-radius:5px;
            }
            margin-top: 25px;
            margin-bottom: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

        }
    }

    .button_header {
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;

        .bi {
            color: #fff;
        }
    }
}

.card-technicals {
    width: 100%;
    @include flex(center, space-around, column);
    &__list {
        width:100%;
        @include flex(center, space-around, row);
        flex-wrap: wrap;
        transition: .2s;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    &__bar {
        margin-top: 50px;
        width: 100%;
        @include flex(center, center, row);
    }

    &__technicalSheet {
        width: 95%;
        height: 400px;
        margin-top: 50px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius: 5px;
        transition: .2s;
        position: relative;

        @include small_device-up {
            width: 380px;
            height: 400px;
            margin-left: 10px;
        }

        &__image {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: transform .2s; 
            cursor: pointer;
        }   

        &__download {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            @include flex(center, center, row);
            cursor: pointer;
            .icon {
                color: #fff;

            }
        }

    }

    &__modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        @include flex(center, center, row);
        &__background {
            width: 100%;
            height: 100% !important;
            background-color: rgba(0, 0, 0, 0.373);
            @include flex(center, center, row);
            position: relative;
            &__image {
                width: 96%;
                height: 500px;
                border-radius: 5px;
                transition: .2s;
                @include small_device-up {
                    width: 650px;
                    height: 600px;
                }

                @include medium_device-up {
                    width: 750px;
                    height: 700px;
                }


                @include large_device-up {
                    width: 1050px;
                    height: 1000px;
                }
            }

            &__close {
                position: absolute;
                width: 50px;
                height: 50px;
                @include flex(center, center, row);
                top: 10px;
                right: 10px;
                border-radius: 5px;
                cursor: pointer;

                @include small_device-up {
                    width: 65px;
                    height: 65px;
                    top: 15px;
                    right: 15px;
                }
            }

            .icon {
                color: #fff;
            }
        }
    }

    &__brandList {
        width: 96%;
        @include flex(center, space-evenly, row);
        flex-wrap: wrap;
        margin-top: 10px;
        transition: .2s linear;
        
        @include small_device-up {
            width: 50%;
        }

        &__brand {
            margin-left: 10px;
            &__name {
                width: 150px;
                height: 45px;
                border-radius: 5px;
                outline: none;
                border: none;
                margin-top: 10px;
                transition: .2s;
                font-size: 14px;

                @include small_device-up {
                    font-size: 16px;
                }
            }

            $brandActive: #003566;
            .currentBrand {
                background-color: $brandActive;
                color: #fff;
            }
        }
    }
}

.card-catalogues {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    &__background {
        width: 100%;
        height: 100%;
        background-color: #00000042;
        @include flex(center, center, row);

        &__content {
            width: 95%;
            height: 95%;
            background-color: #fff;
            @include flex(center, center, column);
            position: relative;
            border-radius: 2px;
            overflow: scroll;

            &__x {
                position: absolute;
                right: 0;
                top: 0;
                width: 50px;
                height: 50px;
                background-color: $bg-dm-corporativo-light;
                @include flex(center, center, row);
                color: #fff;
                cursor: pointer;
            }

            &__list {
                width: 100%;
                margin-top: 30px;
                @include flex(center, center, column);

            }

            @include small_device-up {
                width: 90%;
                height:90%;
                @include flex(center, flex-start, column)
            }

        }
    }

    &__catalogue {
        margin-left: 10px;
        margin-top: 20px;
        width: 90%;
        @include flex(center, center, row);
        &__title {
            @include flex(center, center, row);
        }
    }

}
