.card-contact {
    width: 100%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .card-contact__sucursal__provider{
        width: 100%;
        height: 100%;
        position: relative;
        background: {
            position: top;
            size: cover;
        }
        @include flex(center, space-between, column);
    
        .card-contact__logo {
            width: 100%;
        }

        .card-contact__info {
            width: 100%;
            @include flex(center, space-between, column);
            .card-contact__name {
                text-align: center;
                @include flex(center, space-between, column);
                .card-contact__name__employee {
                    font-size: 30px;
                }

                .card-contact__name__job {
                    font-size: 25px;
                }

                .card-contact__name__button {
                    width: 135px;
                    height: 30px;
                    border-radius: 3px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    .icon {
                        color: #fff;
                    }

                    @include flex(center, space-evenly, row);
                }

            }
        }

        .card-contact__links {
            width: 100%;
            @include flex(center, space-around, row);
            margin-top: 20px;
            .card-contact__links--left {
                width: 45%;
                height: 100%;
                @include flex(flex-end, space-between, column);

                .hexagon-container:nth-child(2n) {
                    align-self: flex-start;
                }
            }

            .card-contact__links--right {
                width: 45%;
                height: 100%;
                @include flex(flex-start, space-between, column);

                .hexagon-container:nth-child(2n) {
                    align-self: flex-end;
                }
            }
        }

        .card-contact__share {
            position: absolute;
            right: 10px;
            top: 10px;

            .sharer {
                z-index: 10000;
                .sharer__button {
                    outline: none;
                    border: none;
                    cursor: pointer;
                    width: 110px;
                    height: 30px;
                    font-size: 12px;
                    border-radius: 5px;
                    color: #fff;
                    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

                    @include flex(center, space-around, row);
                    .icon {
                        color: #fff;
                    }
                }

                .sharer__options {
                    width: 100%;
                    height: 100%;
                    @include flex(center, space-around, row);

                    a {
                        color: inherit;
                    }
                    
                    .icon {
                        cursor: pointer;
                        color: inherit;
                        font-size:25px;
                    }
                }
            }
        }
    }


    @include medium_device-up { 
        width: 800px;
        height: 100%;
    }
}

.card-about {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: {
        image: url('https://firebasestorage.googleapis.com/v0/b/di-medical-del-sur.appspot.com/o/mainBg.webp?alt=media&token=072feb70-824e-468a-8594-89b5ee617997');
        position: center;
        size: cover;
    }
    .card-about__image {
        width: 100%;
        .card-about__image__button {
            $s: 70px;
            $m: 6px;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
            width: $s;
            margin: $m;
            border-radius: 15px;
            height: calc(#{$s} * 1.1547);
            @include flex(center, center, column);
            transform: rotate(90deg); 
            font-size: initial;
            position: relative;
            clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
            background-color: $sur_bg--ligth;

            .icon {
                color:#fff;
                font-size: 20px;
                transform: rotate(-90deg);
            }
        }

        .card-about__image__outline {
            width: 280px;
            height: 280px;
            margin-right: -120px;
            border-radius: 50%;
            background: {
                size: cover;
                position:center;
            }
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            @include flex(center, center, column);
            .card-about__image__employee {
                width: 95%;
                height: 95%;
                border-radius: 50%;
                image-rendering: optimizeSpeed;
                object-fit: cover;
            }
        }
        @include flex(center, space-around, row);

    }

    .card-about__info {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        .card-about__info__paragraph {
            width: 90%;
            min-height: 70px;
            margin-top: 15px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background: {
                size: cover;
                position:20% 60%;
            }
            .card-about__info__paragraph__text {
                width: 90%;
                height: 100%;
                margin-top: 7px;
                color: #fff;
                text-align: center;
                font-size: 15px;
                line-height: 17px;
                @include flex(center, center, row);
            }
            @include flex(center, center, column);

            @include medium_device-up {
                width: 500px;
                margin-top: 30px;

            }
        }

        @include flex(center, space-around, column);
    }

    @include flex(center, space-between, column);
    @include medium_device-up { 
        width: 800px;
        height: 100%;
    }
}
