@mixin buttonContact {
    z-index: 10000;
    outline: none;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 30px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    @include flex(center, space-around, row);

    .icon {
        color: #fff;
    }
}

@mixin flex($ai, $jc, $fd) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
}

@mixin small_device-up {
    @media (min-width: $small_device) {
        @content;
    }
}

@mixin small_device-down {
    @media (max-width: $small_device) {
        @content;
    }
}

@mixin medium_device-up {
    @media (min-width: $medium_device) {
        @content;
    }
}

@mixin medium_device-down {
    @media (max-width: $medium_device) {
        @content;
    }
}

@mixin large_device-up {
    @media (min-width: $large_device) {
        @content;
    }
}
