$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px; 
$small_device: 700px;
$medium_device: 1024px;
$large_device: 1440px;       
$bg-dm-corporativo-light: #c28400;
$bg-dm-corporativo-dark: #684700;
$sur_bg--ligth: #218d9b;
$sur_bg--dark: #187876;