@import './variables';
@import './mixins';
@import './cards/index';

* {
    font-family: $font;
    color: $font_color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}